@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Montserrat-Italic';
	src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

:root {
	font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--primary-color: #61e7b4;
	--primary-test-color: #53b7c4;

	--background-color: #eaefea;

	background-color: var(--background-color);
}
body {
	background-color: var(--background-color) !important;
	font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif !important;
}
html,
body {
	width: 100%;
	height: 100%;
}

#app {
	margin: 0;
	text-align: center;
	height: 100vh;
	width: 100vw;
}

.full-width {
	width: 100%;
}

.left {
	text-align: left;
}
.right {
	text-align: right;
}
.ellipsis {
	text-overflow: ellipsis;
	white-space: pre;
	overflow: hidden;
}
